deps

debug
release

benchmarks/*/debug
benchmarks/*/release
benchmarks/*/profile.log
benchmarks/*/profile.csv
benchmarks/*/profile.lines
benchmarks/*/Rplots.pdf
lib/*/debug
lib/*/release
tests/*/debug
tests/*/release
tests/*/profile.log
tests/*/results.csv
tests/*/Rplots.pdf
tools/*/debug
tools/*/release

tests/toy/results
tests/toy/toy_clean
tests/toy/toy_gprof

tools/experiment/overhead_results
tools/experiment/validation_results
tools/experiment/*.pyc

benchmarks/histogram/histogram_datafiles
benchmarks/linear_regression/linear_regression_datafiles
benchmarks/matrix_multiply/matrix_file_A.txt
benchmarks/matrix_multiply/matrix_file_B.txt
benchmarks/matrix_multiply/matrix_file_out_pthreads.txt
benchmarks/pbzip2/data
benchmarks/pbzip2/bzip2-1.0.6
benchmarks/string_match/string_match_datafiles
benchmarks/word_count/word_count_datafiles
