deps
libcoz/libcoz.so
libcoz/obj

benchmarks/*/obj
benchmarks/*/profile.coz

benchmarks/histogram/histogram
benchmarks/kmeans/kmeans
benchmarks/linear_regression/linear_regression
benchmarks/matrix_multiply/matrix_multiply
benchmarks/pbzip2/pbzip2
benchmarks/pca/pca
benchmarks/producer_consumer/producer_consumer
benchmarks/string_match/string_match
benchmarks/sqlite/sqlite-bench
benchmarks/sqlite-modified/sqlite-bench
benchmarks/toy/toy
benchmarks/word_count/word_count

benchmarks/histogram/histogram_datafiles
benchmarks/linear_regression/linear_regression_datafiles
benchmarks/matrix_multiply/.input_large
benchmarks/matrix_multiply/.input_small
benchmarks/matrix_multiply/matrix_file_A.txt
benchmarks/matrix_multiply/matrix_file_B.txt
benchmarks/matrix_multiply/matrix_file_out_pthreads.txt
benchmarks/pbzip2/data
benchmarks/pbzip2/bzip2-1.0.6
benchmarks/string_match/string_match_datafiles
benchmarks/word_count/word_count_datafiles

build/

viewer/node_modules
rust/Cargo.lock
rust/target
