lib/pass/Release+Asserts
lib/runtime/Release+Asserts
tests/foo/foo
tests/producer_consumer/producer_consumer
tests/work_queue/work_queue
tests/work_queue/work_queue.dSYM
tests/work_queue/work_queue_clean
tests/work_queue/work_queue_clean.dSYM