
div.plot {
  position: absolute;
}

div.plot-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  margin: 0.75em 0 0 0;
  font-weight: bold;
  color: black;
  z-index: 0;
}

div.plot-message {
  color: #EEE;
  
}

.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
    fill: none;
    stroke: #ddd;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
  font-family: sans-serif;
  font-size: 11px;
}

.xaxis path.domain,
.yaxis path.domain {
  stroke-width: 0;
}

text.xtitle,
text.ytitle {
  font-family: sans-serif;
  font-size: 12px;
}

.xgrid .tick,
.ygrid .tick {
  stroke: #ddd;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

line.xzero,
line.yzero {
  fill: none;
  stroke: #888;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.series circle {
  stroke: none;
}

.series path {
  stroke-width: 2;
  fill: none;
}

.series circle.highlight {
  fill: white;
  stroke-width: 2;
}

/* Series colors from colorbrewer.org */
.series0 circle { fill: rgba(31,120,180,1); }
.series0 path { stroke: rgba(31,120,180,0.75); }
.series0 circle.highlight { stroke: rgba(31,120,180,1); }
i.series0 { color: rgba(31,120,180,1); }

.series1 circle { fill: rgba(51,160,44,1); }
.series1 path { stroke: rgba(51,160,44,0.75); }
.series1 circle.highlight { stroke: rgba(51,160,44,1); }
i.series1 { color: rgba(51,160,44,1); }

.series2 circle { fill: rgba(227,26,28,1); }
.series2 path { stroke: rgba(227,26,28,0.75); }
.series2 circle.highlight { stroke: rgba(227,26,28,1); }
i.series2 { color: rgba(227,26,28,1); }

.series3 circle { fill: rgba(255,127,0,1); }
.series3 path { stroke: rgba(255,127,0,0.75); }
.series3 circle.highlight { stroke: rgba(255,127,0,1); }
i.series3 { color: rgba(255,127,0,1); }

.series4 circle { fill: rgba(106,61,154,1); }
.series4 path { stroke: rgba(106,61,154,0.75); }
.series4 circle.highlight { stroke: rgba(106,61,154,1); }
i.series4 { color: rgba(106,61,154,1); }

/* Additional legend styles */
p.legend-entry i {
  margin-right: 0.5em;
}

p.noseries { color: gray; }

/* Tooltips displayed on points */
.d3-tip {
  font-size: 12px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  z-index: 100;
}
